@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 255, 255);
  background: rgb(30, 30, 30);
  font-family: var(--font-garamond), 'Garamond', 'Apple Garamond', 'EB Garamond', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

